name: CI - Validate Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test-train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install system deps
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential python3-dev

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade typing-extensions>=4.10.0
          pip install -r requirements.txt
          zenml integration install mlflow tensorflow -y
          pip uninstall -y pydantic
          pip install "pydantic<2.0.0"
          pip freeze | grep pydantic

      - name: Initialize ZenML
        run: |
          zenml init
          zenml experiment-tracker register mlflow_tracker --flavor=mlflow
          zenml model-registry register mlflow_registry --flavor=mlflow
          zenml stack register ci_stack -e mlflow_tracker -r mlflow_registry -o default -a default
          zenml stack set ci_stack

      - name: Run Training Pipeline
        run: |
          python run_pipeline.py
