name: Email Listing MLOps

on:
push:
branches:
- main

jobs:
pipeline:
runs-on: ubuntu-latest

steps:
  - name: Get repository
    uses: actions/checkout@v4

  - name: Install Python
    uses: actions/setup-python@v5
    with:
      python-version: "3.11"

  - name: Install dependencies
    run: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt

  - name: Setup ZenML
    run: |
      zenml init
      zenml integration install mlflow -y

  - name: Train pipeline
    run: python run_pipeline.py

  - name: Test Streamlit app
    run: |
      streamlit run streamlit_app.py --server.headless true &
      sleep 20
