name: Email MLOps

on:
  push:
    branches:
      - main

jobs:
  pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "pydantic<2.0.0"
          pip install -r requirements.txt

      - name: Initialize ZenML
        run: |
          zenml init
          zenml integration install mlflow -y

      - name: Run training
        run: python run_pipeline.py

      - name: Run app test
        run: |
          streamlit run streamlit_app.py --server.headless true &
          sleep 20
