name: CD - Deploy App

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip uninstall -y pydantic || true
          pip install "pydantic<2.0.0"
          pip freeze | grep pydantic

      - name: Run Training
        run: |
          zenml init
          zenml integration install mlflow tensorflow -y
          pip install "pydantic<2.0.0"
          zenml experiment-tracker register mlflow_tracker --flavor=mlflow
          zenml model-registry register mlflow_registry --flavor=mlflow
          zenml stack register ci_stack -e mlflow_tracker -r mlflow_registry -o default -a default
          zenml stack set ci_stack
          python run_pipeline.py

      - name: Start Streamlit (Build Check)
        run: |
          streamlit run streamlit_app.py --server.headless true &
          sleep 25
